* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0px;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.logo {
  padding-left: 5px;
  padding-top: 20px;
}
.logo #logo-rectangle {
  stroke: #fff;
}
.logo #travel-fly {
  fill: #fff;
}

.homeBorder {
  border-bottom: solid 2px #ffffff;
}

.homeLinks a {
  color: #ffffff !important;
}

.otherLogo {
  padding-left: 5px;
  padding-top: 20px;
}
.otherLogo #logo-rectangle {
  stroke: #000 !important;
}
.otherLogo #travel-fly {
  fill: #000 !important;
}

.otherBorder {
  border-bottom: solid 2px #000000 !important;
}

.otherLinks a {
  color: #000000 !important;
}

.homepage {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.about {
  width: 980px;
  height: 1207px;
  margin: 0 auto;
}

.tours {
  width: 980px;
  max-height: auto;
  margin: 0 auto;
}

.itinerary {
  width: 981px;
  height: 1915px;
  margin: 0 auto;
}

.offers {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

.blog {
  width: 980px;
  height: 1175px;
  margin: 0 auto;
}

.contact {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

.gill {
  font-family: "gill-sans-nova", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prox {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #000000;
  text-transform: capitalize;
}

nav .nav-holder {
  position: fixed;
  height: 90px;
  max-width: 980px;
  background-color: rgba(95, 158, 160, 0.2);
  left: 0;
  right: 0;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-holder .logo-white {
  margin-left: 10px;
  width: 96px;
  height: 42px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  overflow: visible;
  word-wrap: normal;
  padding-left: -1px;
  padding-top: 16px;
}
nav .nav-holder .logo-black {
  width: 103px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "gill-sans-nova", sans-serif;
  padding-left: 2px;
  padding-top: 23px;
  color: #000000;
}
nav .links {
  width: 503px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
nav .links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "gill-sans-nova", sans-serif;
  padding-top: 20px;
}
nav span {
  color: #79addc;
}

@media screen and (max-width: 820px) {
  nav .nav-holder {
    margin: 0 10px 14px 10px;
    width: 100vw;
  }
  nav .links {
    margin-right: 30px;
    max-width: 190px;
    word-spacing: unset;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
footer {
  max-width: 1280px;
  height: 100px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  margin: 100px;
}
footer .logo-footer {
  margin-left: 10px;
  width: 96px;
  height: 42px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  overflow: visible;
  word-wrap: normal;
  border: solid 2px #ffffff;
  padding-left: -1px;
  padding-top: 16px;
  font-family: "gill-sans-nova", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}
footer .copy-notice {
  text-align: center;
  font-size: 18px;
  font-family: "gill-sans-nova", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .social {
  width: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  footer {
    margin-top: 100px;
    width: 100%;
  }
  footer .copy-notice {
    font-size: 14px;
    width: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.hero-home-top {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/hero-bg-home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-home-top .heading-home-hero {
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-style: italic;
}
.hero-home-top .sub-home-hero {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: center;
  font-style: italic;
  margin-bottom: 46px;
}
.hero-home-top .button-hero-readmore {
  width: 121px;
  height: 40px;
  background-color: #79addc;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tripsContainer {
  max-width: 818px;
  height: auto;
  margin: 0 auto;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tripsContainer .trips-index {
  width: 236px;
  height: 304px;
  background-color: red;
}
.tripsContainer .ti-1 {
  background-image: url(../images/1israel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tripsContainer .ti-2 {
  background-image: url(../images/2usa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tripsContainer .ti-3 {
  background-image: url(../images/3aus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ti-overlay {
  width: 236px;
  height: 304px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ti-overlay .ti-trip-name {
  font-size: 50px;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  margin-top: 37px;
  text-align: center;
}
.ti-overlay .ti-trip-price {
  color: #ffffff;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -87px;
}
.ti-overlay .ti-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #79addc;
  width: 133px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}

.footer {
  width: 1280px;
  height: 100px;
}

@media only screen and (max-width: 830px) {
  .hero-home-top {
    width: 100vw;
    height: 100vh;
    margin-bottom: 10px;
  }
  .tripsContainer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tripsContainer .trips-index {
    margin-bottom: 28px;
  }
  footer .copy-notice {
    width: 150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .social img {
    padding: 5px;
  }
}
.booking-title {
  font-size: 60px;
  padding-left: 231px;
  padding-top: 12px;
  -webkit-transform: none;
          transform: none;
  margin: 40px 10px 20px 120px;
  text-transform: none;
}

.booking-holder {
  width: 818px;
  height: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.booking-holder .top-left {
  width: 344px;
  height: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking-holder .form-med {
  width: 344px;
  height: 58px;
  background-color: #ffffff;
  border: #79addc solid 1px;
  padding: 10px;
  margin-left: 20px;
}
.booking-holder .top-right {
  width: 453px;
  height: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking-holder .top-right .form-lg {
  width: 453px;
  height: 58px;
  background-color: #ffffff;
  border: #79addc solid 1px;
  padding: 10px;
  margin-left: 20px;
}
.booking-holder .middle-form {
  width: 818px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.booking-holder .middle-form label {
  margin-right: 55px;
  color: #000000;
  margin-top: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.booking-holder .middle-form input {
  max-width: 80%;
}

.date-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.date-checkout label {
  margin-right: 45px;
  color: #000000;
  margin-top: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-date {
  width: 675px;
  height: 58px;
  background-color: #ffffff;
  border: #79addc solid 1px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline;
  padding: 10px;
}

.inParty-roomsBooked {
  width: 818px;
  height: auto;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 20px 0;
}
.inParty-roomsBooked label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.inParty-roomsBooked #adultsInParty,
.inParty-roomsBooked #childrenInParty,
.inParty-roomsBooked #roomsBooked {
  width: 103px;
  height: 58px;
  text-align: center;
  border: #79addc solid 1px;
}

.message-area {
  max-width: 818px;
  height: 192px;
}
.message-area input {
  width: 818px;
  height: 192px;
  border: #79addc solid 1px;
}

.submit-button {
  width: 813px;
  height: 60px;
  background-color: #79addc;
  color: #ffffff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 18px;
  border-radius: 30px;
  margin: 37px 0 100px 0;
}

@media only screen and (max-width: 830px) {
  .booking-title {
    padding-left: 2px;
    padding-top: 12px;
  }
  .booking-holder {
    width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking-holder .top-left {
    width: 80%;
    height: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .booking-holder .form-med {
    width: 100%;
    height: 58px;
    background-color: #ffffff;
    border: #79addc solid 1px;
    padding: 10px;
  }
  .booking-holder .top-right {
    width: 80%;
    height: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .booking-holder .top-right .form-lg {
    width: 100%;
    height: 58px;
    background-color: #ffffff;
    border: #79addc solid 1px;
    padding: 10px;
  }
  .booking-holder .top-right .middle-form {
    width: 50%;
    height: auto;
    background-color: red;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .booking-holder .top-right .middle-form .check-in input .form-date {
    width: 120px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .inParty-roomsBooked {
    width: 420px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .message-area {
    max-width: 95%;
    height: 122px;
    margin-bottom: 100px;
    margin-left: 12px;
  }
  .message-area input {
    width: 95%;
    height: 98px;
    border: #79addc solid 1px;
    margin-bottom: 37px;
  }
  .submit-button {
    width: 64%;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 835px;
    margin-bottom: 120px;
  }
}
.placeholder-nav {
  width: 980px;
  height: 230px;
}

.title {
  color: black;
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}

.line {
  width: 225px;
  height: 2px;
  color: #000000;
  border-bottom: #000000 2px solid;
  margin-bottom: 38px;
}

.about-text p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  overflow: hidden;
  color: #000000;
  margin-bottom: 95px;
}

.client-quotes {
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}

.line {
  width: 252px;
  height: 2px;
  margin-bottom: 37px;
}

.client {
  width: 722px;
  min-height: 150px;
  margin-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.client .left-top {
  width: 260px;
  height: 150px;
}
.client .left-bottom {
  width: 260px;
  height: 150px;
}
.client .right-about-text {
  width: 305px;
  height: 102px;
  font-style: italic;
  color: #000000;
  margin-left: 12px;
  position: relative;
}
.client span {
  position: absolute;
  color: #79ADDC;
  margin-left: 484px;
  margin-top: 140px;
}
.client #johnathon {
  margin-bottom: 179px;
}

footer {
  margin: 0 auto;
}

@media only screen and (max-width: 830px) {
  .about-text p {
    max-width: 500px;
    margin-bottom: 10px;
  }
  .client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .client span {
    display: block;
    margin: 10px 0 0 270px;
  }
}
footer {
  margin-top: auto;
  min-width: 600px;
}

.nav-placeholder-tours {
  height: 201px;
  width: 980px;
}

.page-title {
  font-size: 60px;
  max-width: 981px;
  height: 200px;
  background-image: url(../images/76fb267b620388f239c4e478d18efb70.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
}
.page-title .overlay {
  width: 981px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

.tours-container {
  max-width: 822px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tours-container .tour {
  width: 236px;
  height: 304px;
  background-color: cadetblue;
  margin-bottom: 40px;
}
.tours-container .tour .overlay-tour {
  width: 236px;
  height: 304px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  padding-top: 37px;
}
.tours-container .tour .overlay-tour .tour-title {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 10px;
}
.tours-container .tour .overlay-tour .tour-price {
  font-size: 30px;
  color: #ffffff;
  margin-top: -30px;
  margin-bottom: 37px;
}
.tours-container .tour .overlay-tour .trip-button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  border-radius: 30px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 57px;
}

.israel {
  background-image: url(../images/tour-01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.usa {
  background-image: url(../images/tour-02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aus {
  background-image: url(../images/tour-03.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nz {
  background-image: url(../images/tour-04.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.france {
  background-image: url(../images/tour-05.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.egypt {
  background-image: url(../images/tour-06.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.japan {
  background-image: url(../images/tour-07.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.canada {
  background-image: url(../images/tour-08.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.uae {
  background-image: url(../images/tour-09.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 840px) {
  .wrapper, nav, .nav-placeholder-tours, .page-title, .tours-container {
    max-width: 527px;
    margin: 10px auto;
  }
  .wrapper .tour, nav .tour, .nav-placeholder-tours .tour, .page-title .tour, .tours-container .tour {
    margin-bottom: 20px;
    margin: 0 auto;
  }
  footer {
    max-width: 80%;
  }
}
@media only screen and (max-width: 840px) and (max-width: 615px) {
  .page-title, .tours-container {
    max-width: 327px;
  }
  .page-title .tour, .tours-container .tour {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  footer {
    max-width: 80%;
  }
}
/* The Modal (html) 

<!-- Trigger/Open The Modal -->
<button id="btnModal1">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
   <div class="placeholder-test">

   </div>
  </div>

</div> 
*/
#btnModal1 {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  border-radius: 30px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 57px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #afeeee; /* Fallback color */
  background-color: rgba(175, 238, 238, 0.8); /*bluelight w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #118877;
  width: 984px; /* Could be more or less, depending on screen size */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.modal-content .placeholder-test {
  height: 1100px;
  background-color: darkslategrey;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.placeholder-nav--package {
  width: 982px;
  height: 171px;
}

.callout-holder {
  width: 981px;
  height: 413px;
  margin-bottom: 40px;
}

.callout-overlay {
  width: 981px;
  height: 413px;
  background-color: rgba(0, 0, 0, 0.5);
}
.callout-overlay .titleDestination {
  font-size: 80px;
  color: #ffffff;
  padding: 18px 0 0 30px;
}
.callout-overlay .howMuch {
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  margin-top: 240px;
  margin-left: 803px;
}

.container-locale {
  width: 981px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-locale .locale {
  width: 298px;
  height: 347px;
  margin-bottom: 29px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-schedule {
  width: 980px;
  height: 830px;
}
.container-schedule .day .dayPound {
  font-size: 60px;
  color: #000;
  margin-top: 19px;
  width: 210px;
}
.container-schedule .day .line {
  width: 160px;
  border-bottom: 2px solid #000000;
  margin-bottom: 38px;
}
.container-schedule .day .scheduleText {
  color: #000;
  text-transform: none;
  margin-bottom: 70px;
}

.book-now-button {
  width: 133px;
  height: 40px;
  background-color: #79aada;
  border-radius: 30px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto 100px;
}

@media screen and (max-width: 830px) {
  .placeholder-nav--package {
    width: 100%;
  }
  .callout-holder {
    width: auto;
  }
  .callout-overlay {
    width: auto;
  }
  .callout-overlay .howMuch {
    margin-left: 25px;
  }
  .container-locale {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-locale .locale {
    margin: 10px auto;
  }
  .container-schedule {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  .container-schedule .day .dayPound {
    font-size: 60px;
    color: #000;
    margin-top: 19px;
    width: 210px;
  }
  .container-schedule .day .line {
    width: 160px;
    border-bottom: 2px solid #000000;
    margin-bottom: 38px;
  }
  .container-schedule .day .scheduleText {
    color: #000;
    text-transform: none;
    margin-bottom: 70px;
  }
  .book-now-button {
    margin: 0 auto 100px;
  }
  .book-now-button footer {
    position: relative;
    bottom: 0;
    left: 0;
  }
}
.placeholder--nav-offers {
  max-width: 982px;
  height: 171px;
  padding-top: -6px;
}

.offers--pageTitle {
  font-size: 30px;
  color: #000000;
}

.line-199 {
  width: 99px;
  height: 2px;
  background-color: #000000;
  margin-bottom: 40px;
}

.offer {
  max-width: 600px;
  min-height: 286px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-discount {
  color: #FF7D38;
  font-size: 20px;
}

.offer-textbox {
  width: 290px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-title {
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
}

.offer-description {
  font-size: 16px;
  margin-bottom: 52px;
  color: #000;
  font-weight: 200;
}

.line-96 {
  width: 96px;
  height: 2px;
  background-color: #000000;
  margin-top: -10px;
}

.line-110 {
  width: 110px;
  height: 2px;
  background-color: #000000;
  margin-top: -10px;
}

.lm-button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  text-align: center;
  padding-top: 8px;
  border-radius: 30px;
}

@media screen and (max-width: 820px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
  }
  footer {
    margin-top: 0;
    min-width: 580px;
  }
  footer .social {
    margin-right: 40px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
.placeholder-nav--blog {
  width: 980px;
  height: 178px;
}

.title--blog {
  font-size: 30px;
  color: #000000;
}

.line106 {
  width: 106px;
  border-bottom: solid 2px #000000;
}

.post-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.post-field .datebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 31px 0 0 0;
}
.post-field .datebox .box {
  width: 60px;
  background-color: #79addc;
  color: #ffffff;
  text-align: center;
}
.post-field .datebox .box .dd {
  font-size: 22px !important;
  height: 40px;
  font-weight: 800;
}
.post-field .datebox .box .mm {
  font-size: 12px;
  height: 20px;
}
.post-field .blog-post-area {
  width: 900px;
  height: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 31px;
}
.post-field .blog-post-area .blog-image {
  width: auto;
  height: 259px;
  background-image: url(../images/blogimage.png);
}
.post-field .blog-post-area .post-title {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 11px;
}
.post-field .blog-post-area .post-body {
  width: 380px;
  height: 64px;
  font-size: 13px;
  color: #79addc;
  font-weight: 300;
}

.contact-title {
  font-size: 30px;
  color: #000000;
}

.line100 {
  width: 100px;
  border-bottom: solid 2px #000000;
  margin-bottom: 59px;
}

.content-holder-contact {
  width: 980px;
  min-height: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-section-left {
  height: 637px;
  width: 400px;
}

.map {
  width: 400px;
  height: 442px;
  background-image: url(../images/map.png);
}

.map-address {
  width: 320px;
  font-size: 16px;
  color: #000000;
  margin-top: 34px;
  margin-bottom: 20px;
}

.form-section-right {
  height: 522px;
  max-width: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}
.form-section-right .form-field {
  width: 529px;
  height: 60px;
  background-color: #f5f5f5;
  padding-left: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: unset;
}
.form-section-right .text-box {
  height: 199px;
  width: 529px;
  background-color: #f5f5f5;
  padding-left: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: unset;
  margin-bottom: 20px;
}
.form-section-right .sendMsg {
  width: 178px;
  height: 60px;
  padding-top: 19px;
  background-color: #79addc;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 830px) {
  .content-holder-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 20px;
  }
  .map-section-left {
    margin: 40px 0 20px 20px;
  }
  .map-section-left .map {
    margin: 0 auto;
  }
}