footer {
    max-width: 1280px;
    height: 100px;
    background-color: #79addc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 100px;

    .logo-footer {
        margin-left: 10px;
        width: 96px;
        height: 42px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        overflow: visible;
        word-wrap: normal;
        border: solid 2px #ffffff;
        padding-left: -1px;
        padding-top: 16px;
        font-family: "gill-sans-nova", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;

    }
    .copy-notice {
        text-align: center;
        font-size: 18px;
        font-family: "gill-sans-nova", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .social {
        width: 112px;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 800px) {

       footer {
        margin-top: 100px;
        width: 100%;
    
        .copy-notice {
            font-size: 14px;
            width: 200px;
            flex-wrap: wrap;
        }
        .social {
            justify-content: space-around;
            // margin-right: 70px;
        }
    }

}