// .wrapper {
//     background-color: cornflowerblue;
// }

.homepage {
    width: 100%;
    height: auto;
    margin: 0 auto;
 }
    .about {
        width: 980px;
        height: 1207px;
        margin: 0 auto;
    }

    .tours {
        width: 980px;
        max-height: auto;
        margin: 0 auto;
    }

    .itinerary {
        width: 981px;
        height: 1915px;
        margin: 0 auto;
    }

    .offers {
        width: 980px;
        height: auto;
        margin: 0 auto;
    }

    .blog {
        width: 980px;
        height: 1175px;
        margin: 0 auto;
    }

    .contact {
        width: 980px;
        height: auto;
        margin: 0 auto;
    }

    
